@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-bullhorn, .icon-link, .icon-twitter, .icon-linkedin, .icon-github {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-bullhorn:before {
  content: "\65";
}
.icon-link:before {
  content: "\66";
}
.icon-twitter:before {
  content: "\74";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-github:before {
  content: "\67";
}

* {
  margin:0;
  padding:0;
}

header{
  background-color:#193441;
  color:#fcfff5;
}
h1,
h2,
h3{
  font-family:'Lato', sans-serif;
  font-weight:300;
}
h1{
  font-size:150px;
  line-height:160px;
  margin-bottom:30px;
}

h2{
  font-size:100px;
  line-height:110px;
  margin-bottom:20px;
}

h3{
  font-size:60px;
  line-height:70px;
  margin-bottom:20px;
}

p,
h4,
li{
  font-size:24px;
  margin-bottom:24px;
  font-family: 'Open Sans', sans-serif;
  max-width:1000px;
  font-weight: normal;
}

ul{
  padding-left:24px;
}

p.date,
p.name,
p.company{
  display:inline-block;
  font-size:16px;
  line-height:18px;
  margin-bottom:0;
}

a{
  display:inline-block;
  padding:5px 7px;
  text-decoration:none;
  text-shadow:1px 1px 1px rgba(50,50,50,0.5);
  background-color:rgba(0,0,0,0.3);
  color:#fcfff5;
  border-radius:2px;
}


article{
  z-index:1;
}

section,
header,
footer{
  padding:100px 200px;
  position:relative;
}
section:before,
footer:before{
  position:absolute;
  background-color: inherit;
  width:0;
  height:0;
  content:'';
  z-index:1;
}
section:before,
footer:before{
  right:0;
  top:0;
  margin-top:-100px;
  border-bottom-width:100px;
  border-bottom-style:solid;
  border-left-width:100px;
  border-left-style:solid;
}

section.skills{
  background:#fcfff5;
  color:#193441;
}
section.skills:before{
  border-bottom-color:#fcfff5;
  border-left-color:#193441;
}

section.about{
  background-color:#476858;
  color:#fcfff5;
}
section.about:before{
  border-bottom-color:#476858;
  border-left-color:#fcfff5;
}

section.availability{
  background:#91aa9d;
  color:#193441;
}
section.availability:before{
  border-bottom-color:#91aa9d;
  border-left-color:#476858;
}

section.testimonials{
  background:#3e606f;
  color:#fcfff5;
}
section.testimonials:before{
  border-bottom-color:#3e606f;
  border-left-color:#91aa9d;
}

section.projects{
  background:#fcfff5;
  color:#476858;
}
section.projects:before{
  border-bottom-color:#fcfff5;
  border-left-color:#3e606f;
}

section.contact{
  background:#91aa9d;
  color:#193441;
}
section.contact:before{
  border-bottom-color:#91aa9d;
  border-left-color:#fcfff5;
}

blockquote{
  background:rgba(255,255,255,0.5);
  border-radius:20px;
  padding:20px;
  margin-bottom:40px;
  position:relative;
}

blockquote p{
  font-size:16px;
  line-height:18px;
  margin-bottom:16px;
}

blockquote:after{
  content:'';
  position:absolute;
  width:0;
  height:0;
  bottom:0;
  left:30px;
  margin-bottom:-30px;
  border-left:30px solid rgba(255,255,255,0.5);
  border-bottom:30px solid transparent;
}

blockquote p:last-child{
  margin-bottom:0;
}

.github-link{
  position:absolute;
  top:0px;
  right:0px;
  display:block;
  padding:0;
  text-decoration:none;
  text-shadow:0;
  background-color:transparent;
  color:#fcfff5;
  box-shadow:none;
}
div.scrollx{
  overflow-x:scroll;
  overflow-y:hidden;
  background:rgba(255,255,255,0.2);
  padding:30px;
  position:relative;
  margin-bottom:20px;
  border-radius:2px;
}
ul.testimonials{
  width:4438px;
  padding-left:0;
}
ul.testimonials li{
  list-style:none;
  display:inline-block;
  max-width:600px;
  vertical-align:top;
  margin-right:30px;
}
ul.testimonials li:last-child{
  margin-right:0;
}


footer{
  background:#d1dbbd;
  color:#3e606f;
  text-align:center;
  font-size:0;
}
footer:before{
  border-bottom-color:#d1dbbd;
  border-left-color:#91aa9d;
}

footer:before,
section:before{
  -webkit-transition:border 0.5s ease-out, margin-top 0.5s ease-out;
  -moz-transition:border 0.5s ease-out, margin-top 0.5s ease-out;
  -o-transition:border 0.5s ease-out, margin-top 0.5s ease-out;
  -ms-transition:border 0.5s ease-out, margin-top 0.5s ease-out;
  transition:border 0.5s ease-out, margin-top 0.5s ease-out;
}

footer a{
  font-size:24px;
  margin-bottom:24px;
  font-family: 'Open Sans', sans-serif;
  padding:20px;
  margin:3px;
  box-shadow:4px 4px 0 #666;
  transition:box-shadow 0.1s ease-out;
}
footer a:hover{
  box-shadow:2px 2px 0px #333;
}
footer a:active{
  box-shadow:0 0 0 black;
}
@media all and (min-width: 1730px) {
  div.scrollx{
    overflow:auto;
    max-width:1268px;
  }
  #testimonial-instructions{
    display:none;
  }
  ul.testimonials{
    width:auto;
  }
  ul.testimonials li{
    margin:16px;
    vertical-align: top;
  }

  section:before,
  footer:before{
    margin-top:-200px;
    border-bottom-width:200px;
    border-left-width:200px;
  }
}
@media all and (min-width: 1930px) {
  section:before,
  footer:before{
    margin-top:-400px;
    border-bottom-width:400px;
    border-left-width:400px;
  }
}
@media all and (min-width: 2500px) {
  section:before,
  footer:before{
    margin-top:-400px;
    border-bottom-width:400px;
    border-left-width:800px;
  }
}
@media all and (max-width: 1300px) {
  section,
  header,
  footer{
    padding:100px;
  }
}
@media all and (max-width: 1200px) {
  section,
  header,
  footer{
    padding:100px;
  }
  h1{
    font-size:140px;
    line-height:150px;
  }
  h2{
    font-size:80px;
    line-height:90px;
  }
  h3{
    font-size:45px;
    line-height:52px;
  }
}
@media all and (max-width: 1040px) {
  section,
  header,
  footer{
    padding:70px;
  }
  section:before,
  footer:before{
    margin-top:-70px;
    border-bottom-width:70px;
    border-left-width:70px;
  }
  h1{
    font-size:120px;
    line-height:128px;
  }
  h2{
    font-size:70px;
    line-height:80px;
  }
  h3{
    font-size:40px;
    line-height:48px;
  }

}
@media all and (max-width: 860px){
  section,
  header,
  footer{
    padding:50px;
  }
  section:before,
  footer:before{
    margin-top:-50px;
    border-bottom-width:50px;
    border-left-width:50px;
  }
  h1{
    font-size:100px;
    line-height:108px;
  }
  h2{
    font-size:60px;
    line-height:70px;
  }
  h3{
    font-size:36px;
    line-height:40px;
  }
  p,
  li{
    font-size:20px;
    line-height:22px;
    margin-bottom:20px;
  }
  
  div.scrollx{
    padding:24px;
  }

  blockquote{
    padding:20px;
    border-radius:20px;
    max-width:480px;
  }

  ul.testimonials{
    width:2212px;
  }
}

@media all and (max-width: 700px) {
  section,
  header,
  footer{
    padding:40px;
  }
  section:before,
  footer:before{
    margin-top:-40px;
    border-bottom-width:40px;
    border-left-width:40px;
  }
  h1{
    font-size:80px;
    line-height:86px;
  }
  h2{
    font-size:48px;
    line-height:56px;
  }
  h3{
    font-size:32px;
    line-height:36px;
  }
  footer a{
    padding:12px;
    font-size:20px;
  }
}

@media all and (max-width: 560px) {
  section,
  header,
  footer{
    padding:30px;
  }
  section:before,
  footer:before{
    margin-top:-30px;
    border-bottom-width:30px;
    border-left-width:30px;
  }
  h1{
    font-size:64px;
    line-height:70px;
  }
  h2{
    font-size:40px;
    line-height:46px;
  }
  h3{
    font-size:30px;
    line-height:34px;
  }
}

@media all and (max-width: 440px){
  h1{
    font-size:40px;
    line-height:50px;
    margin-bottom:16px;
  }
  h2{
    font-size:34px;
    line-height:38px;
    margin-bottom:12px;
  }
  h3{
    font-size:30px;
    line-height:32px;
    margin-bottom:8px;
  }
  footer a{
    padding:8px;
  }
  .github-link{
    display:none;
  }

  div.scrollx{
    overflow-x:auto;
    overflow-y:auto;
    padding:0;
    background:none;
  }

  ul.testimonials{
    width:auto;
  }

  #testimonial-instructions{
    display:none;
  }

  ul.testimonials li{
    margin-right:0;
  }

}
@media print {
  *{
    color:#333;
  }

  section:before,
  footer:before,
  .github-link{
    display:none;
  }

  footer{
    display:none;
  }

  div.scrollx{
    overflow-x:auto;
    overflow-y:auto;
    padding:0;
    background:none;
  }

  ul.testimonials{
    width:auto;
  }

  #testimonial-instructions{
    display:none;
  }
  
  ul.testimonials li{
    margin-right:0;
  }
  blockquote{
    border:1px solid #333;
    border-radius:0;
  }
}